[Desktop Entry]
Type=Application
Name=Krema
Comment=Start Krema dock automatically at login
Exec=/usr/bin/krema
Icon=krema
Terminal=false
OnlyShowIn=KDE;
X-GNOME-Autostart-enabled=true
